<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">

      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        
        <h1 class="display-3 fw-bold mb-4 position-relative home-title">
          Welcome to QuickNotes!
        </h1>

        <img src="/img/notes.png" class="img-fluid" alt="Notes">
        <h4 class="fw-bold mt-2 mb-4 position-relative">Your Digital Notebook</h4>

        <p class="fs-4.5 mb-4">
          QuickNotes is your personal digital notebook, designed to help you stay organized and jot down your thoughts, ideas, and important information.
        </p>
        <a href="/auth/google" class="btn btn-primary btn-lg">Try Notes, it's FREE!</a>
      </div>

    </div>
  </main>
</div>